
<div class="body" >
    <div class="container">
        <table class="table">

            <thead class=" table-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">name</th>
                    <th scope="col">price</th>
                </tr>
            </thead>

            <!-- //el cuerpo de los datos a mistrar -->
            <tbody>

                <tr *ngFor="let product of products">
                    <th scope="row"> {{product.id}} </th>
                    <td> {{product.name}}</td>
                    <td> {{product.precio}} </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


<!-- </div> -->