
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS6wE_KShLHwCgFLrjDPBTFyCLNgHDTFQe-6Q&usqp=CAU"
    style="margin-left: 45%;margin-top: 25px;" height="180px">
<br>
<br>
<br>
<div style="margin-left: 35%;margin-right: 35%;text-align: center;">
    <form action="">
        <input type="text" required class="form-control" id="userName" placeholder="UserName">
        <br>
        <input type="text" required class="form-control" id="name" placeholder="FullName">
        <br>
        <input type="email" required class="form-control" id="emailUser" placeholder="email">
        <br>
        <input type="password" required class="form-control" id="pasword" placeholder="password">
        <br>
        <button type="submit" required class="btn btn-outline-secondary">join</button>
    </form>

</div>